doctype html
html(lang="")
  head
    // ...
    link(rel="stylesheet", href="css/main.scss")
    link(rel="stylesheet", href="css/global.pcss")
  body.items-center
    div.h-screen.overflow-auto
        h1.mt-28.text-3xl.text-white.my-10.text-center Explore your Experiences
        div.flex.items-center.justify-center
            #app

    script(src="js/main.js")
